@media (max-width : 820px){
    .THIS.assignedAreaAndClientSummary{
    }
}

@media (min-width : 821px){
    .THIS.assignedAreaAndClientSummary {
        background: #F3F3F3; 
        margin-left: -3%; 
        margin-right: -2%; 
        margin-top: -2%;
        margin-bottom: -13%; 
        height:160%;
    }
}