.THIS.table {
			border-collapse: collapse;
		}
		.THIS.th {
			background-color:green;
			Color:white;
		}
		.THIS.th, .THIS.td {
			width:150px;
			text-align:center;
			padding:5px;
		}
        .THIS.td {
            border-top-left-radius:3px;
            background-color: #dddddd;
		}
		
		.THIS.gfg {
			border-collapse:separate;
			border-spacing:0 15px;
            
		}
		.THIS.h1 {
			color:green;
		}
	

/*.THIS.table {
			border-collapse: collapse;
		}
.THIS.th {
			background-color:green;
			Color:white;
		}
.THIS.th, .THIS.td {
			width:150px;
			text-align:center;
			padding:5px;
		}
.THIS.td {
            border-top-left-radius:3px;
            background-color: #dddddd;
		}
.THIS.geeks {
            background-color: #dddddd;
		}
.THIS.gfg {
			border-collapse:separate;
			border-spacing:0 15px;
            
		}
.THIS.h1 {
			color:green;
		}*/