* {
    padding: 0;
    margin: 0;
  }
  
  .field-title{
    font-size:20px;
    font-weight: bold;
  }

  .sld{
    font-style: italic;
    font-weight: lighter;
  }

  .app{
    font-size:15px;
    font-weight: normal;
    /* height:350px; */
  }
  
  .card-color{
    background-color:rgb(227, 231, 233);
  }
  body {
    font-family: Montserrat;
  }

  .item {
    position: relative;
    left: 0;
    /*animation: mymove 5s infinite 1s;
   /*- &:first-child {
    }
    &:nth-child(2) {
      color: #F79256;
    }
    &:nth-child(3) {
      color: #0FA3B1;
    }
    &:nth-child(4) {
      color: #FE5F55;
    }
    &:nth-child(5) {
      color: #B0DB43;
    } */
  }
   
  @keyframes mymove {
    100% {
      left: -200px; 
    }
   
  }