@media (min-width:820px){
    .THIS.DashboardScheduler {
        background: #F3F3F3; 
        margin-left: -3%; 
        margin-right: -2%; 
        margin-top: -2%;
        margin-bottom: -13%;
    }
    .THIS .monthMargin {
        margin-left:0.5%;
    }
}

@media (max-width:820px){
    .THIS.DashboardScheduler {
        margin-left: -3%; 
        margin-right: -2%; 
        margin-top: -2%;
        margin-bottom: -13%;
    }
    .THIS .monthMargin {
        margin-left:-2.5%;
        min-width: 97vw;
        
    }
    .THIS .tableMargin {
        margin-top:1%; 
        margin-left:-1.5%; 
        margin-right:0.5%;
        min-width: 93vw;
    }
}