@media (max-width:820px){
    .THIS .mobileCard{
        max-width: 37%;
        margin: 6px;
        margin-left: 11.5px;
    } 
    
    .THIS .slds-card{
        min-height:10.3rem;
    }
    
    .THIS .slds-wrap{
        width:20rem;
    }
    
    .THIS .cardDescription{
        text-align: center; 
        color: white; 
        font-size: 150%; 
        font-weight: 500;
    }
    .THIS .cardTitle{
        text-align: center; 
        font-weight: 650; 
        font-size:100%;
    }
}

@media (min-width:820px){
    .THIS .mobileCard{
        margin-right:1%; 
        margin-bottom:1.5%;
    }
    .THIS .cardDescription{
        text-align: center; 
        color: white; 
        font-size: 180%; 
        font-weight: 550;
    }
    .THIS .cardTitle{
        text-align: center; 
        font-weight: 650; 
    }
}